section.main.outline-4.max-w-96.bg-content.rounded-xl
  h1.block.text-text.mb-2.py-3.px-4.text-xl Images 
  div.grid.grid-cols-2.gap-4
    each image in images 
      div.w-full.h-full.grid.grid-cols-1.justify-center
        div.h-48.overflow-hidden
          image(src="/uploads/"+image, alt="Profile image", height="100", class=" w-full h-full object-cover")  
        svg.w-10.h-10.flex.justify-center.align-center.fill-text(viewBox="0 -960 960 960")
          path(xmlns="http://www.w3.org/2000/svg", d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z", class="hover:fill-red-700", hx-post="/images/remove-image/"+image, hx-swap="outerHTML transition:true", hx-target=".main", hx-trigger="click")
    div.w-full.h-full.grid
      form(id="upload-form", enctype="multipart/form-data", hx-post="/images/upload-image", hx-swap="outerHTML transition:true", hx-target=".main")
        label(for="file-upload", class="cursor-pointer")
          svg.w-20.h-20.flex.justify-center.align-center.fill-text(viewBox="0 -960 960 960")
            path(xmlns="http://www.w3.org/2000/svg", d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z", class="hover:fill-lime-500")
        input(id="file-upload", type="file", name="image", class="hidden")
        button(type="submit", id="submit-btn", class="hidden")
  if status_message
    p.text-text.p-4 #{status_message}
  script.
    document.getElementById('file-upload').addEventListener('change', function() {
      document.getElementById('submit-btn').click();;
    });