div
  div(hx-get="/user/new-swipe-profile", hx-swap="outerHTML", hx-target=".swipe-profile", hx-trigger="load") 
  h1.text-text.mb-2.py-3.text-5xl You matched!
  button.px-2.py-4.rounded.bg-accent-1.text-text.font-bold(data-cy="chat-with-match", class="hover:bg-accent-2", 
    type="button", hx-get="/user/messaging/" + friend_id, hx-swap="outerHTML transition:true", hx-target=".main") Start chat with #{match_name}
