section.menu
    button(hx-get="/api/user/login", hx-swap="outerHTML", hx-target=".main") Edit your information
    button(hx-get="/api/user/login", hx-swap="outerHTML", hx-target=".main") Add new image
    button(hx-get="/api/user/login", hx-swap="outerHTML", hx-target=".main") List your chats ...
    button(hx-get="/api/user/login", hx-swap="outerHTML", hx-target=".main") Logout