section.menu
  button(hx-get="/user/swipe", hx-swap="outerHTML", hx-target=".main") Find matches
  button(hx-get="/user/profile", hx-swap="outerHTML", hx-target=".main") Edit your information
  button(hx-get="/user/image", hx-swap="outerHTML", hx-target=".main") Add an image
  button(hx-get="/user/messaging", hx-swap="outerHTML", hx-target=".main") Chat
  button(hx-post="/user/logout", hx-swap="outerHTML", hx-target=".main") Logout