section.main(data-cy="messaging-view", class="w-full md:max-w-screen-md")
  div.messaging-content.bg-content.rounded.overflow-hidden.shadow-lg.px-8.pt-6.pb-8.mb-4
    if !friend_id
      include match-list
    else
      p(hx-get="/messaging/chat/"+ friend_id, hx-swap="innerHTML transition:true", hx-target=".messaging-content", hx-trigger="load")