section.main
  include menu
  div.bg-content.max-w-sm.rounded.overflow-hidden.shadow-lg.px-8.pt-6.pb-8.mb-4
    form.py-4(hx-post="/user/edit-username/", hx-swap="outerHTML", hx-target=".main") 
      h1.block.text-text.mb-2.py-3.text-3xl Edit your information
      if error_message
        div.mb-4
          p.text-text.px-6.py-4 Error: #{error_message}.
      div.mb-4
        label.block.text-text.mb-2(for="username") Current username is #{username}. New username:
        input.px-2.py-3.shadow.appearance-none.border(class="focus:outline-none focus:shadow-outline", type="text", name="username", placeholder="username")
      div.flex.items-center.justify-between
        button.px-2.py-4.rounded.bg-accent-1.text-content.font-bold(class="hover:bg-accent-2", type="submit", name="submit") Change username

    form.py-4(hx-post="/user/edit-password/", hx-swap="outerHTML", hx-target=".main") 
      div.mb-4
        label.block.text-text.mb-2(for="password") New password:
        input.px-2.py-3.shadow.appearance-none.border(class="focus:outline-none focus:shadow-outline", type="password", name="password", placeholder="******************")
      div.mb-4
        label.block.text-text.mb-2(for="passwordagain") New password again:
        input.px-2.py-3.shadow.appearance-none.border(class="focus:outline-none focus:shadow-outline", type="password", name="passwordagain", placeholder="******************")
      div.flex.items-center.justify-between
        button.px-2.py-4.rounded.bg-accent-1.text-content.font-bold(class="hover:bg-accent-2", type="submit", name="submit") Change password