section.main(data-cy="swipe-view", class="w-full md:max-w-screen-md").flex.flex-col.items-center.justify-center.outline-8
  div(hx-get="/menu", hx-swap="innerHTML transition:true", hx-target=".menu-div", hx-trigger="load")
  div.match-start-chat
  div.swipe-profile(hx-get="/swipe/new-swipe-profile", hx-swap="outerHTML", hx-target="this", hx-trigger="load")
  
    