section.swipe-profile(style="width: calc(100vh / 1.7777 - 4rem);")
  div.rounded-3xl.shadow-lg.bg-content(style="padding-bottom: 177.77%;").relative
    div.shadow-lg.flex.items-center.justify-center.divide-x.divide-background.mb-1.absolute.w-full.bottom-0(style="height: 18%;")
      svg.h-fill.fill-text(data-cy="like-profile", viewBox="0 -960 960 960", hx-post="/swipe/like/"+ id, hx-swap="outerHTML transition:true", hx-target=".swipe-profile", hx-trigger="click", style="height: 100%")
        path(xmlns="http://www.w3.org/2000/svg", d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z", class="hover:fill-lime-500")
      svg.h-fill.fill-text(viewBox="0 -960 960 960", hx-get="/swipe/new-swipe-profile", hx-swap="outerHTML transition:true", hx-target=".swipe-profile", hx-trigger="click", style="height: 100%")
        path(xmlns="http://www.w3.org/2000/svg", d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z", class="hover:fill-red-700")
    
    div.rounded-3xl.overflow-hidden.border-2.border-white.z-5.absolute.w-full(style="height: 82%;")
      ul#image-list.flex.items-center.justify-center.list-none
        each image in images
          li.absolute.top-0.left-0.w-full.h-full
            image.object-cover.w-full.h-full(src="/uploads/"+image, alt="Profile image")
      
      div.w-full.h-full.bg-gradient-to-t.from-black.to-transparent.z-10.absolute
      div.w-full.h-full.grid.grid-cols-2.absolute
        div#last-image.z-20
        div#next-image.z-20
      div.p-4.z-30.absolute.bottom-0
        h1.block.text-white.mb-2.py-3.text-3xl.font-bold.z-40 #{username}
      
   
script(src="/javascripts/cycleImages.js", defer)