@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --color-content: 60deg 5% 96%;
        --color-text: 0deg 0% 50%;
        --color-accent1: 345deg 83% 41%;
        --color-accent2: 345deg 83% 30%;
        --color-background: 60deg 5% 92%;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --color-content: 240deg 6% 10%;
            --color-text: 60deg 5% 96%;
            --color-accent1: 345deg 83% 41%;
            --color-accent2: 345deg 83% 30%;
            --color-background: 240deg 6% 5%;
        }
    }

    :root[data-theme="dark"] {
        --color-content: 240deg 6% 10%;
        --color-text: 60deg 5% 96%;
        --color-accent1: 345deg 83% 41%;
        --color-accent2: 345deg 83% 30%;
        --color-background: 240deg 6% 5%;
    }

    :root[data-theme="light"] {
        --color-content: 60deg 5% 96%;
        --color-text: 0deg 0% 50%;
        --color-accent1: 345deg 83% 41%;
        --color-accent2: 345deg 83% 30%;
        --color-background: 60deg 5% 92%;
    }


    * {
        font-family: manrope;
        /*outline: 1px solid green;*/
    }


    @keyframes fade-in {
        from {
            opacity: 0;
        }
    }

    @keyframes fade-out {
        to {
            opacity: 0;
        }
    }

    ::view-transition-old(fade-it) {
        animation: 40ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
    }

    ::view-transition-new(fade-it) {
        animation: 40ms cubic-bezier(0, 0, 0.2, 1) 20ms both fade-in;
    }

    .sample-transition {
        view-transition-name: slide-it;
    }

    body * {
        @apply transition-colors duration-150;
    }

    .main {
        z-index: 2;
        padding-top: 6rem;

        padding-left: 1rem;
        padding-right: 1rem;
        flex-basis: 100%;
    }

    .dark-mode-switch {
        z-index: 2;
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
    }
}

@layer utilities {

    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}